.info__return {
    align-self: end;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    color: #000000;
    transition: filter 200ms linear, transform 200ms linear;
}

.info__return:hover {
    cursor: pointer;
    text-decoration: underline;
}