.card {
    width: 216px;
    height: 415px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 8px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    position: relative;
}