.card__rating-wrapper {
    height: 28px;
    min-width: 35px;
    background-color: #89C939;
    border-radius: 4.44767px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 270px;
    left: 25px;
    padding-left: 3px;
    padding-right: 3px;
}